html
	head
		meta(charset="utf-8")
		title 销售产品价格申请（调整）审批表
		link(rel="stylesheet" type="text/css" href="./cusform.css")
		script(type="text/javascript" src="./custom.js")
	body
		main
			h2 销售产品价格申请（调整）审批表
